.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body.dark-mode {
  background: #222;
  color: #eee;
}

body.dark-mode .calendar-container {
  background: #222;
  color: #eee;
}

body.dark-mode .rbc-calendar {
  background: #333;
  color: #eee;
}

body.dark-mode .filter-container select,
body.dark-mode .darkmode-toggle button,
body.dark-mode .back-button {
  background: #444;
  color: #eee;
  border: 1px solid #666;
}

body.dark-mode .filter-container select option {
  background: #333;
  color: #eee;
}
